:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  
}
/* TravelList.css */

.card {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.card img {
  width: 300px;
}

.labels-container {
  margin-top: 10px;
}

.cost-label {
  background-color: #40f040;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.all-inclusive-label {
  background-color: #40c0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.deleteButton{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f9f9f9;
  margin-top: 1em;
}

